[package]
name = "avnu"
version = "1.0.0"
description = "Best execution on Starknet. No fluff."
homepage = "https://app.avnu.fi/"
edition = "2024_07"
cairo-version = "2.9.1"

[dependencies]
starknet = "2.9.1"
avnu_lib = { git = "https://github.com/avnu-labs/avnu-contracts-lib", tag = "v0.1.0" }

[dev-dependencies]
cairo_test = "2.9.1"

[[target.starknet-contract]]
sierra = true

[tool.fmt]
sort-module-level-items = true
max-line-length = 150

[scripts]
test = "sed -i 's/0x1d62299f814ac4f360c2a3aeab1a27348434c6ddb1b2248dd873e12555c22ec/0x06b7d689f3553e994028a5ea24068ce5368cf0b101929cae719288b6bbaf4663/g' src/external_solver_adapters/layer_akira_adapter.cairo && scarb cairo-test && sed -i 's/0x06b7d689f3553e994028a5ea24068ce5368cf0b101929cae719288b6bbaf4663/0x7e684cf1d9b3e511cbc36bd75805726e11430607859f205930dbfa910a04e16/g' src/external_solver_adapters/layer_akira_adapter.cairo"
test-mac = "sed -i '' 's/0x1d62299f814ac4f360c2a3aeab1a27348434c6ddb1b2248dd873e12555c22ec/0x06b7d689f3553e994028a5ea24068ce5368cf0b101929cae719288b6bbaf4663/g' src/external_solver_adapters/layer_akira_adapter.cairo && scarb cairo-test && sed -i '' 's/0x06b7d689f3553e994028a5ea24068ce5368cf0b101929cae719288b6bbaf4663/0x7e684cf1d9b3e511cbc36bd75805726e11430607859f205930dbfa910a04e16/g' src/external_solver_adapters/layer_akira_adapter.cairo"
